@page
@model ClinicaVet.App.Frontend.Pages.ListaAuxiliaresModel
@{
}
<h1>Gestionar Auxiliares</h1>
<p>Está pagina esta diseñada para gestionar nuevos Auxiliares</p>
<a class="btn btn-primary table-btn" asp-page="./AdicionAuxiliar">Agregar Auxiliar</a>
<table class="table table-dark">
<tr>
    <th scope="col">Id</th>
    <th scope="col">Password</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Cedula</th>
    <th scope="col">Dirección</th>
    <th scope="col">Ciudad</th>
</tr>
@foreach(var auxiliar in Model.auxiliares){
    <tr>
        <td>@auxiliar.Id</td>
        <td>@auxiliar.nombre</td>
        <td>@auxiliar.apellido</td>
        <td>@auxiliar.cedula</td>
        <td>@auxiliar.celular</td>
        <td>@auxiliar.direccion</td>
        <td>@auxiliar.ciudad</td>
        <td>@auxiliar.email</td>
        
        <td><a class="btn btn-primary table-btn" asp-page="./DetalleAuxiliar" asp-route-cedula="@auxiliar.cedula">Detalle</a><br>
        <a class="btn btn-primary table-btn" asp-page="./EditarAuxiliar" asp-route-cedula="@auxiliar.cedula">Editar</a><br>
        <a class="btn btn-primary table-btn" asp-page="./EliminarAuxiliar" asp-route-cedula="@auxiliar.cedula">Eliminar</a><br>
    </tr>
}    
</table>

<img class="img-responsive img-rounded" src="~/imagenes/auxiliar (2).jpg" alt="imagen auxiliar">