@page
@model ClinicaVet.App.Frontend.Pages.DetalleClienteModel
@{
}
<h1>Detalle del dueño @Model.dueño.nombre</h1>
<ul>
    <li>Cedula: @Model.dueño.cedula</li>
    <li>Nombre: @Model.dueño.nombre</li>
    <li>Apellido: @Model.dueño.apellido</li>
    <li>Celular: @Model.dueño.celular</li>
    <li>Dirección: @Model.dueño.direccion</li>
    <li>Ciudad: @Model.dueño.ciudad</li>
    <li>Correl Electronico: @Model.dueño.email</li>
</ul>